<header>
    <h3> Search Results </h3>
</header>
<section class="searchResults">
    <table>
        <tbody>
            <tr ng-repeat="product in products">
                <td>
                    <img ng-src="src/assets/images/camera_{{product.id}}.jpg" height="100" />
                </td>
                <td> {{product.title}} </td>
                <td> {{product.description}} </td>
                <td>
                    <button type="button" ng-click="addToCart(product)"> Add to Cart </button>
                    <button type="button" ng-click="checkout(product)"> Buy Now </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
