.home footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 10px 20px;
}

.home header {
    padding: 10px 20px;
}

.home header .search {
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 15px;
    margin: 0 auto;
}

.home header .fa-search {
    position: absolute;
}

.home header .search input {
    border: none;
    width: 100%;
    text-indent: 30px;
    outline: none;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #eee;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 27px;
    z-index: 2;
    background: #fff;
}

.dropdown ul li h5:hover {
    background: #eee;
    font-size: 14px;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    cursor: pointer;
}

.dropdown ul li h5 {
    margin: 0;
    padding: 10px;
}

.home .products {
    padding-top: 50px;
    position: relative;
    height: 310px;
    overflow: hidden;
}

.home .product {
    display: table;
    clear: both;
    width: 70%;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    transition: all 0.5s linear;
    position: absolute;
}

.home .product.active {
    left: 0;
    right: 0;
}

.home .product.left {
    left: 100%;
}

.home .product.right {
    left: -100%;
}

.disabled {
    pointer-events: none;
    color: #eee;
}

.home .productImg {
    width: 40%;
    float: left;
    text-align: center;
}

.home .productDesc {
    width: 60%;
    float: left;
}

.fa-angle-left {
    position: absolute;
    top: 50%;
    left: 8%;
    font-size: 50px !important;
    cursor: pointer;
}

.fa-angle-right {
    position: absolute;
    top: 50%;
    right: 8%;
    font-size: 50px !important;
    cursor: pointer;
}
